---
export const prerender = false;

import { fetchPost } from '@/utils/posts';
import BlogPost from '../../layouts/BlogPost.astro';

const { resource } = Astro.params;

if (!resource)
    return new Response(null, { status: 404 })

const data = await fetchPost(resource, Astro.url.origin);

if (data instanceof Response)
    return data;

const meta = data.meta;
const content = data.content;
---

<BlogPost post={{data: meta}}>
    <div set:html={content}></div>
</BlogPost>