---
import Base from '@/layouts/Base.astro';
---

<Base meta={{ title: "Home" }}>
    <form action="/api/publish" method="post">
        <label for="ptitle">
            Title:
            <input class="w-full" type="text" id="ptitle" name="title" minlength="5" required />
        </label>
        <br>
        <label for="pdescription">
            Short description:
            <textarea class="w-full" id="pdescription" name="description" minlength="10" required />
        </label>
        <br>
        <label for="pcontent">
            Content:
            <textarea class="w-full h-fit" id="pcontent" name="content" minlength="100" required />
        </label>
        <br>
        <input class="bg-green-500 p-2 border-dotted rounded-full text-slate-50" type="submit" value="Submit">
    </form>
</Base>